# config files list

gradle/
build.gradle.kts
proguard-rules.pro
gradle.properties
gradlew
gradlew.bat
local.properties
gradle-wrapper.properties
*.toml
setting.gradle.kts
.gradle/
.idea/

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
